@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');


.top-header{
    
    height: 70px;
    z-index: 1;
    position: relative;
    z-index: 9999;
    
    
}
@media (max-width: 992px){
    .top-header{
        color: red;
    }
}
/* **************** */

/* ********************* */

.menuDropDown:hover .fa-angle-down,
.menuDropDown .fa-times
{
 display: none;   
}
.menuDropDown:hover .fa-times{
    display: inline;
}
#logo{
    height: 70px;  
    }
.nav-label {
    
    width: 85px;
    margin: 0;
    padding: 0px;
}
#navbarMenu{
    color: red;

    width: 100px;
}

.icons{
    padding: 0;
}


/**** new updated for the nav collapsed to sidemenu*****/
.blackText {
    color: black;
}

.nav-item {
    width: 150px;
}

.offcanvas-header {
    display: none;
}

@media (max-width: 992px) {
    .offcanvas-header *{
        z-index: 1000;
    }
    .offcanvas-header {
        z-index: 1000;
        display: block;
    }

    .navbar-collapse {
        z-index: 1000;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #eee;
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }

    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-30%);
    }
}
/****************************/

#greetings-div{
    
    z-index: -99999;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    /* background-image: url("../images/chrome\ background.jpg"); */
    background-image: url("../images/greeting.jpg");
    background-size: 100% 100%;
    
    
    
    background-repeat: no-repeat;
}
#greetings-text{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    justify-content: space-around;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    float: none;
    position: relative;
    top: 40%;
    /* vertical-align: middle; */
}

.desc {
    text-align: center; 
    height: 300px;
    font-size: 40;
    color: black;
    justify-content: space-around;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    float: none;
    position: relative;
    top: 10%;
    z-index: -1;
}

.below *{
    position: relative;
    z-index: -9;
}
.neutral *{position: relative;z-index: 0;}
.container{
    margin-top: 50px;
}

.container-fluid{
    margin-top: 50px;
}
/* .img-responsive{
    width: 100%; 
    height: 300px;
    object-fit: cover;
} */



/* articles */
.project{
    margin: auto;
    
}
/* .project>img{
    height: auto;
    width: 100%;
} */
.project .title{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22;
}

.project .title:hover{
    color: orange;
}
.content{
    /* font-family: quicksand; */
    font-size: 18px;
    width: 75%;
    word-wrap: break-word; 
    
    
}

@media only screen and (max-width: 992px){
    .project .content{
        width: 100%;
    }
}


.title1{
    font-size: 48px;
    text-align: center;
    font-weight: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.customAnchor:hover, .customAnchor:visited, .customAnchor:link, .customAnchor:active{
    color: orange;
    text-decoration: none;
    
}

.orangeAnchor:hover, .orangeAnchor:visited, .orangeAnchor:link, .orangeAnchor:active{
    color: orange;
    text-decoration: none;
    
}
.blackAnchor:hover, .blackAnchor:visited, .blackAnchor:link, .blackAnchor:active{
    color: black;
    text-decoration: none;
    
}
.content{
    word-wrap: break-word; 
    text-align: center; 
    width: 75%;
}



/* **** articles ****** */
.articleAnchor{
    text-decoration: none;
    
}

.articleTitle{
    font-size: 32px;
    text-align: center;
}




/* #bottom-left{
    position: absolute;
     color: yellow;
    
    height: 0px;
    width: 0;
    
    border-style: solid;
    border-width: 0 400px 50px 0;
    border-color: transparent transparent white transparent;

    bottom: 0;
    left: 0;  
}

#bottom-right{
    
        position: absolute;
        color: yellow;
        
        height: 0px;
        width: 0;
        
        border-style: solid;
        border-width: 50 400px 0 50;
        border-color: transparent white transparent transparent;
    
        bottom: 0;
        right: 0;  
    
}

.svg{
    width: 100px;
    height: 100px;
    
    background-color: yellow;
    transform: rotate(270deg);
    
    
} */

@media only screen and (min-width: 992px){
    #greetings-div{
        height: 730px;
    }

}
@media only screen and (max-width: 991px){
    #greetings-div{
        height: 450px;
    }
    
}

@media all {
    .navbar .nav-item .dropdown-menu {display: none;}
    .navbar .nav-item:hover .nav-link{color: #000;}
    .navbar .nav-item:hover .dropdown-menu{display:block;}
    .navbar .nav-item .dropdown-menu{margin-top: 0;}
}
